@import 'material';

/*
 *= require_tree .
 *= require_self
*/

.container {
  width: 350px;
  margin: 0 auto;
  text-align: center;
}

.current_user {
  margin: 0 10px;
}

.chat {
  height: auto;
}

.vscrol {
  overflow-y: auto;
}

.avatar {
  float: left;
  margin: 0 5px;
  img { border-radius: 25px; }
}

.showmore {
  text-align: center;
}

.user {
  float: left;
  height: 50px;
  margin-bottom: 5px;
  position: relative;
  float: left;
  width: 100%;

}

.status {
  position: absolute;
  top: 35px;
  left: 35px;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  &.online { background-color: #05E800; }
  &.away { background-color: #FFFF00; }
  &.offline { background-color: #FF1818; }
}

#messages p {
  margin: 0;
}

.message {
  padding: 3px 0 3px;
  .avatar {
    width: 20px;
    height: 20px;
    img {
      width: 18px;
    }
  }
  .text {
    background-color: #F8F8FC;
  }
}

.input {
  height: 30px;
  width: 85%;
  border: none;
  border-bottom: 2px solid #8A8A8A;
}
