@import 'material';

/*
 *= require_tree .
 *= require_self
*/

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  padding-bottom: 100px;
  overflow-y: hidden;
}

.fixed {
  position: fixed;
}

.inline {
  display: inline-block;
}

.top {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #3F51B5;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  color: #FFF;
  .current_user * {
    display: inline-block;
  }
  .current_user {
    float: right;
    padding-right: 20px;
  }
  .title { padding-top: 10; }
}

.users {
  background-color: #FAFAFA;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  width: 250px;
  top: 75px;
  height: 100%;
  overflow-y: auto;
  .title {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}

.chat {
  padding: 75px 0 0 250px;
}

.showmore {
  right: 10px;
}

.avatar {
  img { border-radius: 25px; }
  margin: 0 10px;
}

.vscrol {
  overflow-y: auto;
}

.showmore {
  text-align: center;
}

.user {
  float: left;
  height: 50px;
  margin: 10px 0;
  position: relative;
  width: 100%;
  .avatar {
    float: left;
  }
  .username {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.status {
  position: absolute;
  top: 35px;
  left: 45px;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  &.online { background-color: #05E800; }
  &.away { background-color: #FFFF00; }
  &.offline { background-color: #FF1818; }
}

#messages {
  p {
    margin: 0;
  }
}

.message {
  .avatar {
    float: left;
    width: 20px;
    height: 20px;
    img {
      width: 18px;
    }
  }
  .text {
    display: flex;
  }
}

#new_message {
  bottom: 0;
  top: auto;
  width: 100%;
  background-color: #FFF;
  .avatar {
    padding-top: 15px;
    img {
      width: 30px;
    }
  }
  .text { width: 60%; }
  .submit {
    padding: 10px 0 0 10px;
    text-align: right;
  }
  .avatar, .text, .submit {
    display: inline-block;
  }
}

.title {
  align-items: center;
  font-weight: bold;
  font-size: 20pt;
}
